body{
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: hsl(0, 0%, 30%);
    color: white;
}

.isi{
    text-align: center;
    height: 70vh;
    background-color: rgb(163, 241, 170);
}

.desc-cal{
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.custom-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 15px;
    margin: 10px auto;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: hsl(0, 0%, 30%);
    color: white;
}

a{
    color: white;
    text-decoration: none;
}
.light-but{
    color: black;
    text-decoration: none;
}

.green{
    background-color: yellowgreen;
}
.yellow{
    background-color: yellow;
}
.black{
    color: white;
    background-color: hsl(0, 0%, 25%);
}
.bisque{
    background-color: bisque;
}