* {
    margin: 0px;
}
body {
    font-family:"Lexend", sans-serif;
    margin: 0px;
    background-color:white;
}
header {
    background-color: #11111c;
    color: white;
<<<<<<< Updated upstream
=======
}

.isi-cal{
    text-align: center;
    height: 70vh;
    background-color: rgb(163, 241, 170);
}

.desc-cal{
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.custom-button{
>>>>>>> Stashed changes
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 15vh;
    padding: 2vh;
}
section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    min-height: 20vh;
    padding: 5vh;
}
section h1 {
    color: black;
    font-size: 1.5rem;
}
.but-cal{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 200px;
    padding: 15px;
    border: black solid 1px;
    border-radius: 30px;
    font-weight:   bold;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin: 20px;
}
section a:hover {
    background-color: gray;
    color: white;
    outline-color: white;
}
.green {
    background-color: #208c22;
    color: white;
}
.blue {
    height: 200px;
    background-color: #0000ff;
    color: white;
}
.red {
    background-color: #dc143c;
    color: white;
}
.purple {
    background-color: #800080;
    color: white;
}
.wave1 {
    background-image: url(SVGWaves/bluewave.svg);
}
.wave2 {
    background-image: url(SVGWaves/redwave.svg);
}
.wave3 {
    background-image: url(SVGWaves/greenwave.svg);
}
.wave4 {
    background-image: url(SVGWaves/purplewave.svg);
}
.spacer {
    aspect-ratio: 960/300;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blue{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.isi-cal {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.c1:hover{
    transition:  0.5s ease-in-out;
    padding: 25px;
}

.c2:hover{
    transition:  0.5s ease-in-out;
    padding: 25px;
}

.c3:hover{
    transition:  0.5s ease-in-out;
    padding: 25px;
}

.c4:hover{
    transition:  0.5s ease-in-out;
    padding: 25px;
}
<<<<<<< Updated upstream
=======
.bisque{
    background-color: bisque;
}
>>>>>>> Stashed changes
